<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Zorro no te la lleves
      </h1>
      <p class="subtitle">
        Inventario de componentes
      </p>

      <div>
         <!-- <button class="button is-primary">Guardar</button>  -->
      </div>
      <!-- informacion -->
      <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Objetos</th>
                    <th>Total</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../static/images/CablesDePrueba.png" alt="CablesDePrueba"></td>
                    <td>CablesDePrueba</td>
                    <td>
                        <input id="CablesDePrueba" type="text" value="10">
                    </td>
                    <td>
                        <button onclick="CablesDePruebaAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="CablesDePruebaRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="../static/images/Caimanes.png" alt="Caimanes"></td>
                    <td>Caimanes</td>
                    <td>
                        <input id="Caimanes" type="text" value="0">
                    </td>
                    <td>
                        <button  onclick="CaimanesAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="CaimanesRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="../static/images/Cautin.png" alt="Cautin"></td>
                    <td>Cautin</td>
                    <td>
                        <input id="Cautin" type="text" value="0">
                    </td>
                    <td>
                        <button onclick="CautinAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="CautinRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="../static/images/Fuente.png" alt="Fuente"></td>
                    <td>Fuente</td>
                    <td>
                        <input id="Fuente" type="text" value="0">
                    </td>
                    <td>
                        <button onclick="FuenteAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="FuenteRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="../static/images/Multimetro.png" alt="Multimetro"></td>
                    <td>Multimetro</td>
                    <td>
                        <input id="Multimetro" type="text" value="0">
                    </td>
                    <td>
                        <button onclick="MultimetroAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="MultimetroRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="../static/images/Osciloscopio.png" alt="Osciloscopio"></td>
                    <td>Osciloscopio</td>
                    <td>
                        <input id="Osciloscopio" type="text" value="0">
                    </td>
                    <td>
                        <button onclick="OsciloscopioAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="OsciloscopioRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="../static/images/Protoboard.png" alt="Protoboard"></td>
                    <td>Protoboard</td>
                    <td>
                        <input id="Protoboard" type="text" value="0">
                    </td>
                    <td>
                        <button onclick="ProtoboardAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="ProtoboardRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="../static/images/Transformador.png" alt="Transformador"></td>
                    <td>Transformador</td>
                    <td>
                        <input id="Transformador" type="text" value="0">
                    </td>
                    <td>
                        <button onclick="TransformadorAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="TransformadorRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
                <tr>
                    <td><img src="../static/images/Veliz.png" alt="Veliz"></td>
                    <td>Veliz</td>
                    <td>
                        <input id="Veliz" type="text" value="0">
                    </td>
                    <td>
                        <button onclick="VelizAdd()" class="button is-success">Agregar</button>
                    </td>
                    <td>
                        <button onclick="VelizRemove()" class="button is-danger">Disminuir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </section>
  <script src="../static/scripts/hello.js"></script>
  </body>
</html>